<!DOCTYPE html>
<html>
  <head>
    <title>Places</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>
  <body class='bg-navy'>
    <%= render 'flashes' %>
    <%= yield %>

    <%= javascript_include_tag 'application' %>
    <%= yield :scripts %>
  </body>
</html>
