<!DOCTYPE html>
<html>
  <head>
    <title>
      Places <%= " | #{yield :page_title}" if content_for?(:page_title) %>
    </title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>
  <body>
    <div class='container'>
      <%= render 'header' %>
      <%= yield %>
    </div>

    <%= javascript_include_tag '//api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js' %>
    <%= javascript_include_tag 'application' %>
    <%= yield :scripts %>
  </body>
</html>
